/*noinspection CssUnusedSymbol*/

.workSection {
  width: 100dvw;
  color: #d3d4d4;
  padding-left: 7%;
  overflow: hidden;
}

.workSection h1 {
  font-size: 17dvw;
  line-height: 17dvw;
  transform-origin: left center;
}

.workSection .anim:first-child {
  margin-top: 15dvh;
  margin-left: 7dvw;
  margin-bottom: 10dvh;
}

.block {
  position: relative;
}

.block:hover video {
  display: block;
  transition: 350ms ease-in-out;
}

.block img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  pointer-events: none;
}

.hoverFor {
  font-size: 1.5dvw;
}

.block video {
  position: absolute;
  object-fit: cover;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  pointer-events: none;
  transition: all 350ms ease-in-out;
}

.textWrapper {
  overflow: hidden;
  position: absolute;
  bottom: -1.8dvw;
  font-size: 0.96dvw;
  z-index: 1;
  pointer-events: none;
}

.block p {
  font-size: 0.96dvw;
  white-space: nowrap;
  font-weight: 100;
  line-height: unset;
  opacity: 0;
  transform-origin: left center;
  color: gray;
  margin-top: 0;
}

.block p strong {
  color: #1b2a25;
  font-weight: 500;
}

.workRightSection {
  padding-left: 6dvw;
}

.primera {
  padding-left: 5dvw;
  height: 40dvh;
}

.cloth {
  width: 32dvw;
  aspect-ratio: 16/9;
  height: auto;
  margin-bottom: 12dvh;
  margin-top: 15dvh;
  margin-left: 4dvw;
  max-width: 100%;
  z-index: 2;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    z-index: 1;
  }
}

.beats {
  padding-top: 5dvh;
  margin-bottom: 20dvh;
  width: 40dvw;
  aspect-ratio: 16/9;
  height: auto;
  transition: all 350ms ease-in-out;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

.armDis {
  padding-top: 5dvh;
  margin-bottom: 20dvh;
  width: 30dvw;
  aspect-ratio: 1/1;
  height: 50dvh;
  transition: all 350ms ease-in-out;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.workRightSection p {
  margin-top: 3dvh;
  line-height: 2dvh;
  font-weight: 300;
}

.armDisPic {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .workSection {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .workSection h1 {
    align-items: center;
    justify-content: center;
    font-size: 15dvw;
    line-height: 25dvw;
  }

  .workSection .anim:first-child {
    margin-top: 5dvh;
    margin-bottom: 10dvh;
  }

  .primera {
    height: 40dvh;
  }

  .cloth {
    height: auto;
    width: 80dvw;
    aspect-ratio: 16/9;
    margin-bottom: 8dvh;
    margin-top: 8dvh;
    margin-left: 0;
    max-width: 100%;
    border-radius: 10px;
    padding-left: 0;

    &.mf-cursor {
      transform: scale(1.02);
    }
  }

  .beats {
    padding-top: 0;
    margin-bottom: 8dvh;
    margin-top: 8dvh;
    width: 80dvw;
    height: auto;
    aspect-ratio: 16/9;
    transition: all 350ms ease-in-out;
  }

  .workRightSection p {
    margin-top: 3dvh;
    font-size: 1.66667dvw;
    line-height: 2dvh;
    font-weight: 300;
  }

  .workRightSection {
    padding-right: 8dvw;
  }

  .workSection {
    width: 100dvw;
    color: #1b2a25;
    overflow: hidden;
  }

  .block {
    position: relative;
  }

  .block:hover video {
    display: block;
    transition: 350ms ease-in-out;
  }

  .row {
    border-radius: 15%;
  }

  .block img {
    height: 50%;
    object-fit: cover;
    max-width: 100%;
    pointer-events: none;
  }

  .block video {
    position: absolute;
    object-fit: cover;
    width: calc(100% + 2px);
    height: 50%;
    top: 0;
    left: 0;
    aspect-ratio: auto;
    z-index: 1;
    display: none;
    pointer-events: none;
    transition: all 350ms ease-in-out;
  }

  .textWrapper {
    overflow: hidden;
    position: absolute;
    bottom: -1.8dvw;
    pointer-events: none;
  }

  .block p {
    font-size: 1vw !important;
    white-space: normal;
  }
}

// Icon styles
.icon {
  margin-top: .25rem;
  height: 16px;
  width: 16px;
  margin-right: 12px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .workSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    margin-bottom: 1dvh;

    .anim {
      margin-bottom: 1dvh;
      padding-left: 5dvw;
    }
  }

  .contentWidth {
    width: 85dvw;
    max-width: 85dvw;
  }

  .hoverFor {
    display: none;
  }

  .icon {
    display: none;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .block {
    aspect-ratio: auto;
    margin: auto;
    width: 100%;
    height: fit-content;
  }

  .block img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
  }

  .block video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    aspect-ratio: auto;
    z-index: 1;
    display: none;
    pointer-events: none;
    transition: all 350ms ease-in-out;
  }

  .primera {
    margin: 0 0;
  }

  .cloth {
    margin-top: 5dvh;
    margin-bottom: 5dvh;
    width: 90dvw;
    aspect-ratio: 16/9;
    height: auto;
  }

  .beats {
    margin-top: 5dvh;
    margin-bottom: 5dvh;
    width: 90dvw;
    aspect-ratio: 16/9;
    height: auto;
  }
}